body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.canvas-row {
  width: 100%;
  border-bottom: 2px solid white;
  color: white;
  display: flex;
  align-items: center;
  p {
    position: fixed;
    right: 0;
    padding-bottom: 20px;
  }
}
