@import './sidebar.scss';
@import './button.scss';

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.canvas-row {
  width: 100%;
  display: flex;
  align-items: center;
  p {
    position: fixed;
    padding-bottom: 20px;
    animation-name: moveText;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    color: #fff;
    font-size: 24px;
  }
}

@keyframes moveText {
  from {
    right: -200px;
  }
  to {
    right: 100%;
    color: black;
  }
}
